.container{
    width: 1280px;
    height: 1260px;
}
.flex_container{
    width: 100%;
    height: 100%;
    border:2px solid forestgreen ;
    background: rgb(177, 174, 177);
    display: flex;
  
    justify-content: space-around;
    flex-direction: column;
}
.flex-item{
 
    color: green;
    background: rgb(35, 37, 39);
    border: 2px solid ;
    line-height: 48px;
    text-align: center;
    font-size: 25px;
    flex: 1 0 20px;
}
.flex-item.two{
    flex: 1 1 50px;
}
.flex-item:nth-child(8){
    width: 100%;
    align-self: flex-start;
}
/* vector row, by height and centr */