.resize_right {
    /* cursor: pointer; */
    cursor: nwse-resize;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: chartreuse;
}

.resize_top {
    /* cursor: pointer; */
    cursor: nesw-resize;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: chartreuse;
}

.container {
    top: 200px;
    position: relative;
    border: 2px solid red;
    padding: 20px;
    width: 20%;
}