*{
    margin: 0px;
    padding: 0px;
}
.main_space{
    width: 1200px;
    height: 600px;
    background-color: #f1d536;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-around;


}
.container{
    background-color: #ffffff;  
    width: 360px;
    height: 441px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 0;  
}


.money{
    width: 91px;
    height: 53px;
    font-family: Miso;
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.34;
    letter-spacing: 1.75px;
    text-align: center;
    color: #02995b;
}
.text_big{
    font-family: Miso;
    font-size: 56px;
    font-weight: normal;
    line-height: 0.43;
    letter-spacing: normal;

}
.text_small{
    width: 156px;
    font-family: Lato;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
    color: #333333;}

.cup_container{
    width: 156px;
    height: 134px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;}
    .cup_container.gold{
      padding-bottom: 170px;}

.cup{
    width: 135px;
    height: 77px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 18px;
       }

div.been{
    width: 36px;
    height: 45px;
    margin-left: 42px;
    margin-top: 15px; 
    background: url(/lesson6/hm1/img/bean\ bronze.png) no-repeat center center;}

.smoke{
    width: 49px;
    height: 46px;
    margin-bottom: 11px;
}
    .cup.gold{      
            background: url(/lesson6/hm1/img/cup.png) no-repeat center center;}

    .smoke.gold{       
        background: url(/lesson6/hm1/img/smoke.png) no-repeat center center;}

        .cup.bronze{          
                background: url(/lesson6/hm1/img/cup.bronze.png) no-repeat center center;}

        .smoke.bronze{            
            background: url(/lesson6/hm1/img/smoke\ bronze.png) no-repeat center center;}

            .cup.silver{          
                    background: url(/lesson6/hm1/img/cup\ silver.png) no-repeat center center;}
 
            .smoke.silver{              
                background: url(/lesson6/hm1/img/smoke\ silver.png) no-repeat center center;}
