@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body .container header {
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  max-width: 800px;
  position: relative;
  right: 0px;
  left: 0px;
  margin: auto;
  border-bottom: 2px solid #ffcc00;
  text-align: center;
}

body .container header p:first-child {
  font-stretch: semi-expanded;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

body .container header p:last-child {
  line-height: normal;
  font-size: 60px;
  color: #ffcc00;
  font-weight: bold;
}

body .container header .icon-firebase:before {
  max-width: 40px;
  margin: 0 auto;
  padding: 0px 20px;
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
  font-size: 25px;
  background-color: white;
  content: "\e902";
  color: #ffca28;
}

body .container .context {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

body .container .context .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .container .context .content.left {
  background: url(../../img/image_border.png) no-repeat center center;
  border-right: 2px solid #ffcc00;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

body .container .context .content.left .photo {
  position: relative;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: url("../../img/image_border.png") no-repeat center center;
  border: 2px solid #ffca28;
  width: 390px;
  height: 390px;
}

body .container .context .content.left .photo .icon-angle-left:before {
  color: #ffca28;
  font-size: 40px;
  top: 50%;
  position: absolute;
  margin: auto;
  left: -70px;
  content: "\e901";
}

body .container .context .content.right {
  width: 50%;
}

body .container .context .content.right .body {
  position: relative;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .container .context .content.right .body .icon-angle-right:before {
  color: #ffca28;
  font-size: 40px;
  top: 50%;
  position: absolute;
  margin: auto;
  right: -40px;
  content: "\e900";
}

body .container .context .content.right .body .part1 {
  font-size: 35px;
  font-weight: bold;
}

body .container .context .content.right .body .part1_1 {
  width: 20%;
  border-bottom: 1px solid #ffca28;
  margin: 20px;
}

body .container .context .content.right .body .part2 {
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
}

body .container .context .content.right .body .part3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

body .container .context .content.right .body .part3 .sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../../img/image_border.png) no-repeat center center;
  width: 32px;
  height: 32px;
  padding: 3px;
  cursor: pointer;
}

body .container .context .content.right .body .part3 .sn .icon-facebook:before {
  text-align: center;
  font-size: 16px;
  content: "\ea90";
}

body .container .context .content.right .body .part3 .sn .icon-twitter:before {
  content: "\ea96";
  text-align: center;
  font-size: 16px;
}

body .container .context .content.right .body .part3 .sn .icon-compass:before {
  content: "\e949";
  text-align: center;
  font-size: 16px;
}

body .container .context .content.right .body .part3 .sn .icon-instagram:before {
  content: "\ea92";
  text-align: center;
  font-size: 16px;
}

body .container .context .content.right .body .part3 .sn:hover {
  background-color: #2fe0ff;
}

body .container .context .content.right .body .part4 {
  font-size: 18px;
  font-weight: 300;
  padding: 20px;
  text-align: center;
}

body .container .context .content.right .body .part5 {
  width: 8%;
  border-bottom: 5px dashed #ffca28;
  margin-bottom: 20px;
}

body .container .context .content.right .body .part6 {
  border: none;
  background: none;
  border: 3px solid #ffca28;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

body .container .context .content.right .body .part6:active {
  background-color: greenyellow;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  font-size: 20px;
}

body footer {
  height: 30px;
  padding-top: 30px;
  background: url(../../img/pagination.png) no-repeat center center;
}
