@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  .container {
    & header {
      font-family: "Open Sans", sans-serif;
      padding-top: 40px;
      max-width: 800px;
      position: relative;
      right: 0px;
      left: 0px;
      margin: auto;
      border-bottom: 2px solid #ffcc00;
      text-align: center;
      & p {
        &:first-child {
          font-stretch: semi-expanded;
          font-family: "Open Sans", sans-serif;
          font-size: 30px;
        }
        &:last-child {
          line-height: normal;

          font-size: 60px;
          color: #ffcc00;
          font-weight: bold;
        }
      }

      & .icon-firebase:before {
        max-width: 40px;
        margin: 0 auto;
        padding: 0px 20px;
        position: absolute;
        bottom: -10px;
        right: 0px;
        left: 0px;
        font-size: 25px;
        background-color: white;
        content: "\e902";
        color: #ffca28;
      }
    }
    & .context {
      height: 800px;
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      & .content {
        display: flex;
        align-items: center;
        &.left {
          background: url(/lesson13/hw1/img/image_border.png) no-repeat center center;
          border-right: 2px solid #ffcc00;
          text-align: center;
          display: flex;
          align-items: center;

          width: 50%;
          & .photo {
            position: relative;
            margin: 0 auto;
            right: 0px;
            left: 0px;
            top: 0px;
            bottom: 0px;
            background: url(/lesson13//hw1/img/Фон.png) no-repeat center center;
            border: 2px solid #ffca28;
            width: 390px;
            height: 390px;
            & .icon-angle-left:before {
              color: #ffca28;
              font-size: 40px;
              top: 50%;
              position: absolute;
              margin: auto;
              left: -70px;

              content: "\e901";
            }
          }
        }
        &.right {
          width: 50%;
          & .body {
            position: relative;
            margin: 0 auto;
            right: 0px;
            left: 0px;
            top: 0px;
            bottom: 0px;
            max-width: 440px;
            display: flex;

            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            & .icon-angle-right:before {
              color: #ffca28;
              font-size: 40px;
              top: 50%;
              position: absolute;
              margin: auto;
              right: -40px;
              content: "\e900";
            }

            & .part1 {
              font-size: 35px;
              font-weight: bold;
              // padding: 20px;
            }
            & .part1_1 {
              width: 20%;
              border-bottom: 1px solid #ffca28;
              margin: 20px;
            }
            & .part2 {
              font-size: 30px;
              font-weight: 300;
              padding: 20px;
            }
            & .part3 {
              position: relative;
              display: flex;

              justify-content: space-between;
              align-items: center;
              flex-direction: row;

              & .sn {
                display: flex;
                justify-content: center;
                align-items: center;
                background: url(/lesson13/hw1/img/Ellipse_1.png) no-repeat center center;
                width: 32px;
                height: 32px;
                padding: 3px;
                cursor: pointer;

                & .icon-facebook:before {
                  text-align: center;
                  font-size: 16px;
                  content: "\ea90";
                }
                & .icon-twitter:before {
                  content: "\ea96";
                  text-align: center;
                  font-size: 16px;
                }
                & .icon-compass:before {
                  content: "\e949";
                  text-align: center;
                  font-size: 16px;
                }
                & .icon-instagram:before {
                  content: "\ea92";
                  text-align: center;
                  font-size: 16px;
                }
              }
              & .sn:hover {
                background-color: rgb(47, 224, 255);
              }
            }
            & .part4 {
              font-size: 18px;
              font-weight: 300;
              padding: 20px;
              text-align: center;
            }
            & .part5 {
              width: 8%;
              border-bottom: 5px dashed #ffca28;
              margin-bottom: 20px;
            }
            & .part6 {
              border: none;
              background: none;
              border: 3px solid #ffca28;
              text-transform: uppercase;
              font-size: 20px;
              font-weight: 600;
              padding: 5px 10px;
              text-align: center;
              cursor: pointer;
            }
            & .part6:active {
              background-color: greenyellow;
              transform: scale(0.95);
              transition: 0.1s;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  & footer {
    height: 30px;
    padding-top: 30px;
    background: url(/lesson13/hw1/img/pagination.png) no-repeat center center;
  }
}
