$maxWidth:1200px;

@mixin text_Aleo($fs, $weight) {
    font-family: "Aleo", serif;
    font-weight: $weight;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: $fs;
}

@mixin text_JosefinSans($fs, $weight) {
    font-family: "Josefin Sans", sans-serif;
    font-size: $fs;
    font-weight: $weight;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    width: 100%;
    background-color: #5474fd;

    @media only screen and (max-width: 1200px) {
        padding: 0px 20px;
    }

    // &:hover {
    //     transition: 0.3s;
    //     background-color: rgba($color: #000000, $alpha: 0);
    // }

    & .nav_context {
        max-width: $maxWidth;
        margin: 0 auto;
        @include flex_row();
        justify-content: space-between;

        @media only screen and (max-width: 1230px) {
            justify-content: space-around;
        }

        & .logo {
            cursor: pointer;
        }
    }
}

.social {
    @include flex_row();
    flex-wrap: nowrap;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid #e4e1e1;
        border-radius: 50%;
        text-decoration: none;

        &:hover {
            border: 1px solid #f76714;
        }

        & .fab {

            font-size: 16px;
            color: white;

            &:hover {
                color: #f76714;
            }
        }
    }
}

.navigation {
    @include flex_row();


    @media only screen and (max-width: 630px) {
        @include flex_column();
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    & li {
        list-style-type: circle;
        color: white;
        cursor: pointer;

        &:hover {
            list-style-type: disc;

        }

        & a {

            text-decoration: none;

            @include text_Aleo(14px, 400);

            text-transform: uppercase;

            &:hover {
                color: aqua;
            }
        }
    }
}