@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
@font-face {
  font-family: 'Gotham Bold';
  src: url("./gothambold1.eot");
  src: local("gothambold1"), url("./gothambold1.woff") format("woff"), url("./gothambold1.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham Book';
  src: url("./GothamBook.eot");
  src: local("GothamBook"), url("css/fonts/GothamBook/GothamBook.woff") format("woff"), url("css/fonts/GothamBook/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  src: url("/ExamJS/css/fonts/Gotham/gotham-medium-webfont.woff2") format("woff2"), url("/ExamJS/css/fonts/Gotham/gotham-medium-webfont.woff") format("woff"), url("/ExamJS/css/fonts/Gotham/GothamMediumRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Thin";
  src: url("/ExamJS/css/fonts/Gotham/GothamThinRegular.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

nav {
  width: 100%;
  background-color: rgba(84, 116, 253, 0.5);
  padding: 50px 0px 20px 0px;
  position: fixed;
  z-index: 2;
}

nav .nav_context {
  margin: 0 auto;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav_context .logo {
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e4e1e1;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 20px;
}

.social a:hover {
  border: 1px solid #f76714;
}

.social a:hover .fab {
  color: #f76714;
}

.social a .fab {
  font-size: 16px;
  color: white;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 13px 55px 20px 110px;
}

.navigation li {
  list-style-type: circle;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

.navigation li:first-child {
  padding-right: 86px;
}

.navigation li:nth-child(2) {
  padding-right: 88px;
}

.navigation li:nth-child(3) {
  padding-right: 120px;
}

.navigation li:hover {
  list-style-type: disc;
}

.navigation li a {
  text-decoration: none;
  font-family: "Gotham Thin", sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.navigation li a:hover {
  color: aqua;
}

header {
  max-height: 800px;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#55b7ff), to(#7e5aff));
  background-image: -webkit-linear-gradient(bottom, #55b7ff, #7e5aff);
  background-image: -o-linear-gradient(bottom, #55b7ff, #7e5aff);
  background-image: linear-gradient(to top, #55b7ff, #7e5aff);
}

header .roolDown {
  text-decoration: none;
  position: absolute;
  z-index: 20;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-52%);
      -ms-transform: translateX(-52%);
          transform: translateX(-52%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .roolDown:before {
  content: "\f107";
  color: white;
  font-size: 16px;
  font-family: 'FontAwesome';
}

.slider {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

#mainSlider .slick-dots {
  z-index: 3;
  height: 220px;
  position: absolute;
  top: 51%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
  display: block;
  width: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainSlider .slick-dots li button::before {
  font-family: slick;
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  content: "";
  text-align: center;
}

#mainSlider .slick-dots li.slick-active button {
  background-color: white;
}

#mainSlider .slick-dots li button {
  font-family: slick;
  font-size: 2px;
  line-height: 0;
  display: block;
  width: 2px;
  height: 2px;
  content: "";
  cursor: pointer;
  color: transparent;
  border: 0.5px solid white;
  border-radius: 50%;
  outline: none;
}

#mainSlider .slick-dots li button:focus {
  background-color: white;
}

.slider-item {
  position: relative;
}

.slider-item img {
  opacity: 1;
}

.slider-item .text {
  position: absolute;
  top: 47%;
  right: 50%;
  -webkit-transform: translate(50%, -19%);
      -ms-transform: translate(50%, -19%);
          transform: translate(50%, -19%);
  max-width: 900px;
}

.slider-item .text .title {
  font-family: "Gotham";
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 4px;
  text-align: center;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 19px;
}

.slider-item .text .autor {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 6.2px;
}

.ourWorks {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  letter-spacing: 2.8px;
  padding-top: 132px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.ourWorks:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 1px solid black;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container .context {
  padding-top: 157px;
  padding-bottom: 46px;
  max-width: 1176px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .context.home {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .context.home .shadow {
  right: 0px;
}

.container .context.mountains {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .context.mountains .shadow {
  left: 0px;
  -webkit-transform: translate(45%, -15%);
      -ms-transform: translate(45%, -15%);
          transform: translate(45%, -15%);
}

.container .context.mountains .headline {
  padding-top: 10px;
}

.container .context.mountains .subtitle {
  padding-top: 5px;
}

.picture {
  position: relative;
}

.picture .shadow {
  position: absolute;
  top: 0px;
  -webkit-transform: translate(-45%, -15%);
      -ms-transform: translate(-45%, -15%);
          transform: translate(-45%, -15%);
  z-index: -1;
}

.item {
  padding-top: 59px;
  width: 478px;
  height: 471px;
}

.item p.subtitle {
  font-family: "Gotham";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0.55;
  text-align: left;
  color: #2c4058;
}

.item p.headline {
  font-family: "Gotham";
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: left;
  color: #2c4058;
  padding-top: 13px;
}

.item p.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-transform: none;
  padding-top: 23px;
  padding-bottom: 31px;
  line-height: 1.67;
  text-align: left;
  color: #4b5562;
  text-align: left;
}

.item p.adress {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: 0.35px;
  text-align: left;
  color: #2c4058;
  padding-top: 52px;
}

.item p.adress .fa-map-marker-alt {
  font-size: 14px;
  padding-right: 3px;
}

.item button {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  border: none;
  background: none;
  border: 1px solid #000000;
  letter-spacing: 0.5px;
}

.item button:hover {
  border: none;
  background: none;
  background-color: #61ebb1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.item button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.newsSection {
  position: relative;
  padding-top: 95px;
  max-height: 1035px;
  padding-bottom: 200px;
}

.newsSection .news {
  margin-top: 39px;
  padding-bottom: 90px;
  color: white;
  letter-spacing: 1.5px;
}

.newsSection .newsMainBG {
  position: absolute;
  width: 100%;
  max-height: 1035px;
}

.slick-prev,
.slick-next {
  z-index: 20;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  border: solid 1px #ffffff;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 14px;
  font-family: 'FontAwesome';
}

.slick-prev {
  left: -95px;
}

.slick-prev:before {
  content: "\f104";
}

.slick-next {
  right: -95px;
}

.slick-next:before {
  content: "\f105";
}

/* the slides */
.slick-slide {
  margin: 0 13px;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: -80px;
  width: 225px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 9px;
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  text-align: center;
  opacity: .25;
  border: 1px solid white;
  color: rgba(252, 252, 252, 0);
}

.slick-dots li.slick-active button:before {
  content: '';
  background-color: white;
  opacity: .75;
  color: white;
}

.sliderTreeple {
  max-width: 1170px;
  margin: 0 auto;
}

.sliderTreeple-item .slick-slide .slick-active {
  max-width: 370px;
  background: none;
}

.sliderTreeple-item {
  position: relative;
  width: 400px;
  height: 514px;
}

.sliderTreeple-item .text {
  width: 370px;
  background-color: #ffffff;
  padding: 23px 15px 27px 20px;
}

.sliderTreeple-item .text .title {
  font-family: "Gotham";
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.55;
  text-align: left;
  color: #2c4058;
  text-align: left;
}

.sliderTreeple-item .text .subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  line-height: 1.67;
  text-align: left;
  color: #4b5562;
  padding-bottom: 36px;
}

.sliderTreeple-item .text .authorInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderTreeple-item .text .authorInfo .publishInfo {
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sliderTreeple-item .text .authorInfo .publishInfo .author {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #2c4058;
  text-align: left;
  padding-bottom: 5px;
}

.sliderTreeple-item .text .authorInfo .publishInfo .publishDate {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: #55b7ff;
}

.galery {
  position: relative;
  padding-top: 135px;
  padding-bottom: 135px;
  text-align: center;
}

.galery .moreDetails {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  border: none;
  background: none;
  border: 1px solid #000000;
  letter-spacing: 0.5px;
}

.galery .moreDetails:hover {
  border: none;
  background: none;
  background-color: #61ebb1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.galery .moreDetails:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.galery .galeryHeader {
  margin: 0px;
  letter-spacing: 0.5px;
  padding-bottom: 90px;
}

.galery .imageContainer {
  padding-bottom: 60px;
  max-height: 498px;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galery .imageContainer .mainImage {
  height: auto;
}

.galery .imageContainer .groupImages {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.googleMap {
  width: 1599px;
  height: 700px;
  margin: 0 auto;
  padding: 0;
}

#map {
  height: 100%;
}

footer {
  position: relative;
  height: 524px;
}

footer .background {
  position: absolute;
  width: 100%;
  max-height: 524px;
  z-index: -1;
}

.additionalInfo {
  width: 770px;
  margin: 0 auto;
  padding-top: 200px;
}

.additionalInfo .repeatHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
}

.additionalInfo .copiright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additionalInfo .copiright p .fa-heart {
  color: #ffffff;
  font-size: 14px;
  padding: 0px;
  border: none;
}

.additionalInfo .copiright :first-child {
  border-right: 1px solid white;
  padding-right: 20px;
}

.additionalInfo .copiright :last-child {
  padding-left: 20px;
}

.additionalInfo .copiright p {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
}

.contactContainer {
  width: 870px;
  height: 450px;
  padding: 0px 110px 70px 110px;
  z-index: 3;
  position: absolute;
  right: 50%;
  top: -63%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.contactContainer .ourWorks.contactHeading {
  letter-spacing: 1.5px;
  padding-top: 120px;
  margin-top: -10px;
  padding-bottom: 13px;
}

.contactContainer .formBG {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.context .contactInfo {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.context .contactInfo .details {
  text-align: left;
  color: #2c4058;
  font-size: 18px;
}

.context .contactInfo .details .fas,
.context .contactInfo .details .far {
  color: #7e5aff;
  font-size: 18px;
}

.context .clientDetails {
  width: 310px;
  height: 190px;
}

.context .clientDetails .contactForm {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.context .clientDetails .contactForm input.order {
  width: 100%;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #2c4058;
  padding-top: 5px;
  padding-bottom: 15px;
  opacity: 0.2;
  cursor: pointer;
}

.context .clientDetails .contactForm input.order:active {
  opacity: 1;
}

.context .clientDetails .contactForm input.order:focus {
  padding: 15px;
  opacity: 1;
}

.context .clientDetails .contactForm input.order.active {
  opacity: 1;
}

.context .clientDetails .contactForm input.order::-webkit-input-placeholder {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
}

.context .clientDetails .contactForm input.order:-ms-input-placeholder {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
}

.context .clientDetails .contactForm input.order::-ms-input-placeholder {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
}

.context .clientDetails .contactForm input.order::placeholder {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
}

.context .clientDetails .contactForm .submitForm {
  font-family: 'Gotham Bold', sans-serif;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  border: none;
  background: none;
  border: 1px solid #000000;
  letter-spacing: 0.5px;
  width: 140px;
  height: 50px;
  border: solid 1px #2c4058;
}

.context .clientDetails .contactForm .submitForm:hover {
  border: none;
  background: none;
  background-color: #61ebb1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.context .clientDetails .contactForm .submitForm:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
