@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
main {
  margin: 0 auto;
  position: relative;
  max-width: 1120px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  padding: 25px;
}
.app {
  background: #747474;
  background-image: url("./assets/cold.webp"); /* fallback */
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)); /* W3C */

  background-size: cover;
  background-position: bottom;
  &.warm {
    background-image: url("./assets/sunset.jpg");
  }
  & .search-box {
    width: 100%;
    margin: 0 0 75px;
    & .search-bar {
      display: block;
      width: 100%;
      padding: 15px;

      appearance: none;
      background: none;
      border: none;
      outline: none;

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 0px 0px 16px 16px;
      margin-top: -25px;

      box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

      color: #313131;
      font-size: 20px;

      transition: 0.4s ease;
      &:focus {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}
.timeline {
  .time {
    padding: 4px 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    border-radius: 6px;
    color: rgb(194, 190, 190);
  }
}
.location-box {
  & .location {
    color: royalblue;
    font-size: 48px;

    text-align: center;

    font-family: "Open Sans", sans-serif;
  }
  .date {
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    &.sun {
      font-size: 18px;
      padding-bottom: 0px;
      & .time {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 24px;
        letter-spacing: 1.5px;
      }
    }
  }
  .choise {
    font-size: 20px;
    color: red;
  }
}
.error {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

//descriptionWrapper
.descriptionWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 440px) {
    flex-direction: column;
  }
  .buttonGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
  }
}
.textInsideButton {
  .currentDate {
    font-size: 18px;
    color: rgb(156, 151, 151);
    font-family: "Roboto", sans-serif;
  }
}

//weather description
.weather-box {
  min-width: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  // border: 1px solid rgb(252, 177, 64);

  @media only screen and (max-width: 480px) {
    min-width: 260px;
  }

  .temp {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    // margin: 5px auto;
    // background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 25px opx;
    font-size: 100px;
    color: #fff;
    //text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    border-radius: 16px;
    text-align: center;

    font-weight: 300;
    @media only screen and (max-width: 480px) {
      font-size: 52px;
    }
  }
  .weather {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    &.icon {
      margin-top: -10px;
    }
    &.description {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "Montserrat", sans-serif;
      padding-bottom: 8px;
    }

    .wind {
      font-size: 24px;
      text-transform: capitalize;
      line-height: 1.4;
      font-weight: 300;
    }
    .speed {
      font-size: 24px;

      text-transform: lowercase;
    }
  }
}
