@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900&display=swap');
*{
    padding:0;
    margin: 0px;
    line-height: 1;
    box-sizing: border-box;
    
     }
 .container{   
        max-width: 1900px;
        max-height: 1700px;
        position: absolute;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        overflow: auto;  }

.section{
    padding-left: 165px;}

.part1{
    height:100%;  
    background:url(/lesson10/hw1/img/img.png) no-repeat center center;
   background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }


.header{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
}
.logo-text{
    font-family: "Pacifico";
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: left;
  color: #262626;
}
.navbar1{
   
    list-style-type: none ;
    display: flex;
    text-decoration: none;
    justify-content: flex-end;}

.navbar1 a{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: right;
    color: #262626;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;}

.navbar1 a:hover{
    border-top:3px solid #ff6033;;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;
}
.text{
    max-width: 370px;
    display: flex;
    flex-direction: column;
   padding-bottom: 30px;}

    .fresh{
    font-family: "Raleway";
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.42;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
}
    .body{ font-family: "Raleway";
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: #262626;}

    .button{
    width: 200px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 300;
    padding: 20px 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #ff6033;}


.part2{
    overflow: auto; 
    min-height: 700px;
    height:70%;
    display: flex;
    flex-direction: row;
    
    background:url(/lesson10/hw1/img/bg.png) no-repeat center center;
    background-image: radial-gradient(circle at 0 0, #00c4c4, #00b7b7, #00adad, #009c9c), linear-gradient(to bottom, #00c4c4, #00c4c4);
    margin: 0px;
    padding: 0px;
    /* background-size: cover;
    background-attachment: fixed; */
   }

.section.part2 .photo{ 
        height: auto;
    width:50%;
      
        margin-left: 120px;
        background:url(/lesson10/hw1/img/img\ berry.png) no-repeat center center;
        background-size: contain;
       
    }
div.part2 .text{
   
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.big{
   
    padding-bottom: 35px;
  
    font-family: 'Raleway';
    font-size: 90px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}
.small{
    font-family: "Raleway";
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}