@-webkit-keyframes turnArround {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes turnArround {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes changeOpacity {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeOpacity {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.icon-spades:before {
  content: "\e917";
  color: black;
}

.icon-clubs:before {
  content: "\e918";
  color: black;
}

.icon-diamonds:before {
  content: "\e919";
  color: red;
}

.icon-heart:before {
  content: "\e9da";
  color: red;
}

table {
  margin: 0 auto;
}

table tr th {
  border-radius: 3px;
}

table tr th.th {
  position: relative;
  color: white;
  background-color: #535353;
  padding: 45px 20px;
}

table tr th.th:hover {
  -webkit-animation: turnArround 2s ease;
          animation: turnArround 2s ease;
}

table tr th.th:hover .cover {
  -webkit-animation: changeOpacity 2s ease;
          animation: changeOpacity 2s ease;
  opacity: 0;
}

table tr th.th .cover {
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}
