* {
  padding: 0;
  margin: 0px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 1300px;
  background-color: #ffffff;
}

.container .header {
  padding-top: 50px;
}

.container .header .title {
  font-family: Asap;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #202020;
}

.container .header .title span {
  color: chartreuse;
}

.container .header .subtitle {
  font-family: Karla;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.context .sm_main {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.context .sm_main .sm {
  text-align: center;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  border: solid 1px #3b5998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.context .sm_main .sm:hover {
  background-color: blueviolet;
}

.context .subscribe {
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.context .subscribe input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #2ec06c;
  margin: 10px;
  padding: 10px;
}

.context .subscribe textarea {
  margin: 10px;
  width: 620px;
  height: 161px;
  border-radius: 5px;
  border: solid 1px #bababa;
  background-color: #ffffff;
}

@media screen and (max-width: 940px) {
  .context {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sm_main {
    border: 2px solid blue;
    width: 100%;
    background-color: chartreuse;
  }
}
