body {
  background: aquamarine;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h1 {
  font-size: 20px;
  text-align: center;
}

.container .img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: url("../assets/js.png") no-repeat center center;
  background-size: contain;
}

.container .text {
  text-align: center;
  font-size: 14px;
}
