* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas: "mainContainer mainContainer firstBlog""secondBlog thirdBlog foutrhBlog";
}

.foto_main {
    grid-area: mainContainer;
}

.firstBlog {
    grid-area: firstBlog;
}

.secondBlog {
    grid-area: secondBlog;
}

.thirdBlog {
    grid-area: thirdBlog;
}

.foutrhBlog {
    grid-area: foutrhBlog;
}

.container {
    margin: 0 auto;
    background-color: #818181;

}

.main {
    max-width: 1120px;
    /* height: 1100px; */
    background-color: #818181;


}

p.s_text {
    max-width: 129px;

    font-family: HansKendrick;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.31;
    letter-spacing: 0.33px;
    text-align: left;
    color: honeydew;

}

p.b_text {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.75px;
    text-align: left;
    color: #ffffff;
}

.foto_main {

    background: url(/lesson6/hw2/img/LayerRedCar.png) no-repeat center center;
}

.blog {
    display: grid;
    grid-template-rows: 252px 50px 150px 85px;
    background-color: #ffffff;



}

.foto {
    max-width: 360px;
    /* height: 251px;  */
}


.s_text {


    font-family: HansKendrick;
    font-size: 13px;
    font-weight: 500;
    padding-left: 30px;
    line-height: 2.31;
    letter-spacing: 0.33px;
    text-align: left;
    color: #818181;

}

.b_text {

    font-family: HansKendrick;
    font-size: 22px;
    font-weight: 900;
    padding-left: 30px;
    padding-right: 25px;
    line-height: 1.36;
    letter-spacing: 0.55px;
    text-align: left;
    color: #1d1d1d;

}

.icon {
    margin-left: 30px;
    width: 54px;
    height: 54px;
    background: url(/lesson6/hw2/img/LayerAutorPhoto.png) no-repeat center center;

}

footer {
    margin: 0px;
    font-family: HansKendrick;
    font-size: 13px;
    display: inline;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: 0.33px;
    text-align: center;
    color: #99a5b0;
}