#gallery_4.container_4 {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #ffe92f;

  .header_4 {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    .title_4 {
      font-family: Raleway;
      font-size: 90px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.3;
      letter-spacing: normal;
      text-align: center;
      color: #262626;
      padding: 50px 0px;
    }
    .subtitle_4 {
      max-width: 580px;
      font-family: Raleway;
      font-size: 17px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: normal;
      text-align: center;
      color: #262626;
    }
  }
}

.content_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & .part1_4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    & .knife {
      max-width: 100%;
      height: auto;
      box-shadow: 40px 40px 40px 40px rgba(222, 184, 135, 0.2);
      margin-right: 20px;
    }
    .berry {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      & .berry1 {
        height: auto;
        max-width: 100%;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
      & .berry2 {
        height: auto;
        max-width: 100%;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
  .part2_4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    margin: 20px;
    & .fruit1 {
      height: auto;
      max-width: 100%;
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      margin-right: 20px;
    }
    & .fruit2 {
      height: auto;
      max-width: 100%;
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    }
  }
  .more {
    border: none;
    width: 200px;
    height: 55px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 40px;
  }
}
@media screen and (max-width: 1188px) {
  .content_4 {
    .part2_4 {
      margin: 0px;
      & img.fruit1 {
        margin-right: 0px;
        height: auto;
        max-width: 100%;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
      & img.fruit2 {
        height: auto;
        max-width: 100%;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
    }

    & .part1_4 {
      margin: 0px;
      & .knife {
        margin-right: 0px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #gallery_4.container_4 {
    .header_4 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title_4 {
        font-family: Raleway;
        font-size: 50px;
        padding: 30px 0px;
      }
    }
  }
}
