@import "_style_1";
@import "_style_6";
@import "_style_2";
@import "_style_7";
@import "_style_5";
@import "_style_4";

.container_main {
  border: 1px solid rgb(24, 23, 23);
  max-width: 1900px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
