@font-face {
	font-family: 'Gotham Book';
	src: url('./GothamBook.eot');
	src: local('GothamBook'), url('css/fonts/GothamBook/GothamBook.woff') format('woff'), url('css/fonts/GothamBook/GothamBook.ttf') format('truetype');
}